<div class="page-header">
  <h2>Create new post</h2>
</div>

<div class="page-copy">
  <p>Uploading new post to <em><%= @hike.name %></em></p>
</div>

<div class="page-form">
  <%= render partial: 'form' %>
</div>
<br>
