@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(250, 255, 250);
}

a {
  color: rgb(0, 122, 56);
}

h3 a {
  color: rgb(0, 64, 21);
  text-decoration: none;
}

.add-post {
  font-size: 12px;
}

.header-title {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgb(0, 64, 21);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: rgb(0, 122, 56);
}

.hike-index-name-container  {
  display: flex;
  justify-content: center;
}

.hike-index-add-post {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.hike-index-images-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.hike-overview {
}

.gradient-line{
  margin-top: 25px;
  display: flex;
  border: none;
  height: 1px;
  background: rgb(0, 64, 21);
  background: linear-gradient(to right, white, rgb(0, 64, 21), rgb(5, 241, 0), rgb(0, 64, 21), white);
}

.post-show-title, .post-show-posted-by, .post-show-caption {
  display: flex;
  justify-content: center;
}

.post-show-image {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.page-header, .page-form, .page-copy, .signup-error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-text-area {
  width: 500px;
  height: 150px;
  font-family: 'Quicksand', sans-serif;
  padding: 5px;
}

.form-text-field{
  font-family: 'Quicksand', sans-serif;
  width: 200px;
  height: 25px;
  padding: 5px;
}

.submit-button {
  color: white;
  background-color: rgb(0, 82, 40);
  padding: 8px;
  /* width: 80px; */
  font-family: 'Quicksand', sans-serif;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  margin: auto;
  transition: all 0.2s;
}

.submit-button:hover{
  color: #000000;
  background-color: rgb(95, 231, 129);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.hidden {
  display: none;
}

.dphlai {
  display: flex;
  justify-content: center;
  font-size: 11px;
  position: relative;
  bottom: 0;
}
